.hv-blue:hover{
    color: blue !important;
}

.carousel-item img{
    height: 700px;
    filter: brightness(40%);
}

.carousel-indicators [data-bs-target]{
    width: 15px !important;
    height: 15px !important;
    margin-left: auto !important;
    
}
.carousel-indicators{
    flex-direction: column !important;
    margin-bottom: 12rem !important;
    margin-right: 5% !important;

}

.carousel-caption{
    bottom: 12.25rem !important;
}

.hr-w1{
    width: 15%;
}
.hr-w2{
    width: 30%;
}

.CTA {
    background-color: #0c65ed;
    border: none;
    padding: 5px 20px;
    border-radius: 27px;
  }
  
  .about-card {
    background-color: rgb(255, 255, 255);
    height: 440px;
    padding: 5px 20px;
    position: relative;
    top: 2%;
  }
  
.font-p-style {
    line-height: 23px;
    font-weight: 500;
    font-size: 14px;
    color: #666666;
  }
  .item-content p {
    font-size: 13px !important;
  }
  
  .blog-content h5 {
    font-size: 18px;
    text-transform: capitalize;
    line-height: 25px;
  }
  
  .detail-p {
    font-weight: 400 !important;
  }
  .read-more a {
    color: #000000;
  }
  .rounded-start-3 {
    border-top-left-radius: 0 !important;
  }
  .detail {
    font-size: 12px;
    color: #858585;
  }
  .about-card h5 {
    line-height: 20px;
    font-weight: 500;
    font-size: 18px;
  }
  .icon-about {
    font-size: 30px;
  }

  .section1 ul:hover i , .section1 ul:hover h5{
    color: #0c65ed;
  }

.section3{
    background-image: url(../img/service-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

.section3 .bg{
    background-color: rgba(0, 0, 0, 0.877);
}

.section3 .card{
    background: none;
    margin-bottom: 2%;
    height: 250px;
}

.section3 .card-hover{
    height: 100%;
    top: 100%;
    transition: 1s;
    
}

.section3 .card:hover .card-hover{
    top: 0;  
}

.section4 a:hover{
    color: blue;
}

.section4 .card-hover{
    width: 90%;
    top: 100%;
}

.section4 .card:hover .card-hover{
    top: 71%;
}
.section4 .card:hover .mc-hover{
    top: 65%;
    
}

.section5 .card-w{
    width: 300px;
    
}


.section5 .card-hover{
    height: 100%;
    top: 100%;
    transition: 1s;
    width: 100%;
    top: 85%;
}

.section5 .card:hover .card-hover{
    top: 50%;
    
}

.section5 .card-hove:hover .icard-hover{
    top: 10%;
    
}

.section5 .card:hover{
    border-bottom: none !important;
}

.section6{
    margin-bottom: 7%;
}

.section6 ul li .button1{
    margin-right: 0% !important;
   border: 2px solid blue !important;
   border-bottom-left-radius: 20px;
   border-top-left-radius: 20px 
}

.section6 ul li .button2{
    margin-left: 0% !important;
    border: 2px solid blue !important;
   border-bottom-right-radius: 20px;
   border-top-right-radius: 20px 
}



.section6 .nav-tabs .nav-link.active{
    color: white !important;
    background-color: blue !important;
}



.section9 .card:hover img{
    transform: scale(1.1) rotate(-2deg);
}

.section9 .card:hover .p-hover{
    color: blue !important;
}

.section9 .card:hover .progress-bar{
    width: 100% !important;
   
}

.section9 .card:hover .hr-hover{
    width: 100%;
}

.section9 .card:hover .i-hover{
    background-color: blue !important;
}

.section10 .img1{
    height: 530px;
    filter: drop-shadow(8px 9px 10px gray);
}

.section10 .img2{
    height: 160px;
    width: 160px;
}




/* ---------- contact ====>*/

.contact-section1{
    background-image: url(../img/slider1.jpg);
    background-size: cover;
    height: 400px;
}

.contact-section1 h1{
    padding-top: 10%;
}

.contact-section1 .bgck{
    background-color: black !important;
    height: 85px;
    margin-top: 9%;
    

}

.contact-section2 .area-contact{
    padding-bottom: 13rem!important;
    
}

footer button:hover{
    background-color: blue !important;
    color: white !important;
}